<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
	crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	
    <title>{% block title %}Pax Gurgel{% endblock %}</title>
</head>
<style type="text/css">
	
	.nav-background{
		margin-bottom: 0px;
	}
.nav-background{
	background-color: rgb(187,215,0);
	display: block;
}
li{
	list-style-type: none;
}
.nav-item{
	margin: 20px 25px;
}
a{
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: none;
	color: rgb(0,165,211);
}	
	
	.footer {
		font-family: "Roboto", sans-serif;
	color: #FFFFFF;
    background-color: #1676DE;
	padding-top: 10px;
    position: relative;
    width: 100%;
}
	
	.apresentacao{
		margin: 20px 15% 20px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	}
	
	.leading-form{
		margin: 20px 15% 20px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	}
	
	.form-leading{
		font-size: 16px;
	}
	
.apresentacao p{
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.carousel{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
	
	
	#content{
		background-image: url('{% static "images/background-repetition.jpg"%}');
		min-height: 828px;
		background-repeat: repeat;
		padding-top: 30px;
	}
	
	input.holo[type='text'] {
	/* You can set width to whatever you like */
    width: 200px;
	font-family: "Roboto", "Droid Sans", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 8px 8px 6px 8px;
	position: relative;
	outline: none;
	border: none;
	background: bottom left linear-gradient(#000, #000) no-repeat, bottom center linear-gradient(#000, #000) repeat-x, bottom right linear-gradient(#000, #000) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}
input.holo[type='text']:hover, input.holo[type='text']:focus {
	background: bottom left linear-gradient(#1676DE, #1676DE) no-repeat, bottom center linear-gradient(#1676DE, #1676DE) repeat-x, bottom right linear-gradient(#1676DE, #1676DE) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;	
} 


@media screen and (min-width: 769px){
	.logo-navbar{
		position: absolute;
		left: 45%;
	}
}
</style>
<nav class="navbar navbar-expand-lg navbar-light nav-background">
	<div><img src="{% static 'images/logo-PAX.png'%}" class="logo-navbar" width="160xp" height="80px"></div>
	<div>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Plano de Assist. Familiar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Funerária</a>
			</li>
		</ul>
	</div>
</nav>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					Copyright® Pax Gurgel 2017
				</div>
				<div class="col-lg-6" style="text-align: right">
					Siga-nos
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
				Telefone: (92) 3675-3229
				E-Mail: pax_gurgel@hotmail.com
				</div>
				<div class="col-lg-6" style="text-align: right">
					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					Endereço: Rua José Tadros, nº 1093 - Santo Antônio
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d296.1067252378508!2d-60.044637037495896!3d-3.1155117601687974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5c6cc2f2db6cbbe!2sFuner%C3%A1ria+Gurgel!5e0!3m2!1spt-BR!2sbr!4v1506402041100" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-6" style="text-align: right">
					<a href="https://www.facebook.com/PAX-Gurgel-1685019558209870/"><img src="{% static 'images/facebook.png' %}" style="height: 60px;" alt="Facebook"/></a>
					<a href="https://www.instagram.com/julinho_noronha"><img src="{% static 'images/instagram.png' %}" style="height: 60px;" alt="Instagram"/></a>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
  $('body>#content').height(
    $(window).height()-
    $('body>.container').height()-
    $('body>.footer').height()
  );
</script>
</html>