{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div id="painel-fotos" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#painel-fotos" data-slide-to="0" class="active"></li>
      <li data-target="#painel-fotos" data-slide-to="1"></li>
      <li data-target="#painel-fotos" data-slide-to="2"></li>
      <li data-target="#painel-fotos" data-slide-to="3"></li>
      <li data-target="#painel-fotos" data-slide-to="4"></li>
      <li data-target="#painel-fotos" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src='{% static "images/carro.jpg"%}' alt="Carro Funerário" style="width: 100%">
        <div class="carousel-caption">
			<h3>Carro Funerário</h3>
		</div>
      </div>

      <div class="item">
        <img src='{% static "images/sala-de-virgilia.jpg" %}' alt="Sala de Virgília" style="width:100%;">
        <div class="carousel-caption">
			<h3>Sala de Virgília</h3>
		</div>
      </div>
    
      <div class="item">
        <img src='{% static "images/confortos-climatizados.jpg" %}' alt="Confortos Climatizados" style="width:100%;">
        <div class="carousel-caption">
			<h3>Confortos Climatizados</h3>
		</div>
      </div>
      <div class="item">
        <img src='{% static "images/copa-cozinha.jpg" %}' alt="Serviço de Copa / Cozinha" style="width:100%;">
        <div class="carousel-caption">
			<h3>Serviço de Copa / Cozinha</h3>
		</div>
      </div>
      <div class="item">
        <img src='{% static "images/elevador-pne.jpg" %}' alt="Elevador para Portador de Necessidades Especiais" style="width:100%;">
        <div class="carousel-caption">
			<h3>Elevador para Portador de Necessidades Especiais</h3>
		</div>
      </div>
      <div class="item">
        <img src='{% static "images/estacionamento-exclusivo.jpg" %}' alt="Estacionamento Exclusivo" style="width:100%;">
        <div class="carousel-caption">
			<h3>Estacionamento Exclusivo</h3>
		</div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#painel-fotos" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#painel-fotos" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
	<div class="apresentacao">
		<p>
			A PAX GURGEL conta com um novo conceito em assistência Funeral, oferecemos a nossos clientes e associados um atendimento de qualidade, conforto em todas as nossas dependências e serenidade na condução de todos os nossos serviços.
		</p>
		Contamos também os seguintes serviços:
		<ul>
			<div class="row">
				<li>
					<div class="col-lg-6">
						Urna Mortuária;
					</div>
				</li>
				<li>
					<div class="col-lg-6">
						Coroa de Flores;
					</div>
				</li>
			</div>
			<div class="row">
				<li>
					<div class="col-lg-6">
						Despacho de Documentação;
					</div>
				</li>
				<li>
					<div class="col-lg-6">
						Ornamentação da Urna com Flores;
					</div>
				</li>
			</div>
			<div class="row">
				<li>
					<div class="col-lg-6">
						Translado Nacional e Internacional;
					</div>
				</li>
				<li>
					<div class="col-lg-6">
						Ônibus para Cortejo;
					</div>
				</li>
			</div>
		</ul>
	</div>
	<div class="leading-form">
		<p>Entre em contato conosco ou preencha este formulário para conhecer nossos planos.</p>
		<form class="form-leading" action="post">
		{% csrf_token %}
		<div class="col-lg-6">
			Nome Completo: <input type="text" class="holo" maxlength="100" name="Nome Completo">
		</div>
		<div class="col-lg-6">
			Telefone: <input type="text" class="holo" maxlength="100" name="Telefone">
			<input type="submit" value="Salvar" class="btn btn-default" style="margin-left: 15px;">
		</div>
		</form>
	</div>
	
</div>

{% endblock %}